
body {
	font-family: 'raleway', sans-serif;
	background-color: beige;
}

.nav ul {
	list-style: none;
	margin:auto;
	padding:0;
	border: 0.1em
	background-color: beige;
	text-align:center;
}

.nav li {	
	display: inline-block;
	padding: 0.5em;
	font-size: 1em;
}

.nav li a {
	text-decoration: none;
	color: maroon;
	padding: 1em 1em;
	display: block;
}

.nav li a:hover {
/* flip the colour scheme when the menu link is highlighted */
	color: beige;
	background-color: maroon;
}

/*logo position*/
.nav img {
	float: left;
	padding-left:5%;
	padding-bottom:0.5%;
	width: 4%;
	height: 4%
}

/*
at the moment the "slide show" is just a single picture, 
we could use java script to make it an actual picture and include pictures that bernd has taken
consider an hr line instead of top border ?
*/
.slideshow img{
	display: block;
	margin:auto;
	width:100%;
	padding:0;
	border-top-style:solid;
	border-top-color:maroon;
	border-top-width: 1em;
}

.slideshow h2 span{
	position:absolute;
	top: 10%;
	right:0.5%;
	color:white;
	font-size:3.5em;
	background-color:maroon;
}

.imgMenu {
	padding-top:2em;
	display:block;
	margin:auto;
}

.imgMenu img{
	width:21em;
	height:13em;
	padding-top:2em;
	padding-right:2em;
}


.footer {
	clear: both;
	background: maroon;
	color: beige;
    font-size: 12px;
}

.footer p {
	padding: 1px;
}