
body {
	font-family: 'raleway', sans-serif;
	background-color: beige;
    color: maroon;
}

.nav h3 {
    color: maroon;
    float: left;
    padding-left: 5%;
    padding-right: 5%;
}

/*.nav img {
    float: left;
    padding-left: 5%;
    padding-right: 5%;
}*/

.hero-image{
    position: relative;
    display: block;
    margin: auto;
    width: 100%;
    padding: 0;
    border-top-style: solid;
    border-top-color: maroon;
    border-top-width: 1em;
}

.hero-text{
	font-size: 4em;
	background-color: maroon;
    color: beige;
    position: absolute;
    top: 10%;
    right: 0.5%;
}

.footer {
	clear: both;
	background: maroon;
	color: beige;
    font-size: 12px;
    padding-left: 5%;
    padding-right: 5%;
}

.footer p {
	padding: 1px;
}